:root {
    --primary-bg-color: rgb(255, 255, 255);
    --secondary-bg-color: #f9f9f9;
    --primary-text-color: rgb(0, 0, 0);
    --secondary-text-color: rgb(104, 104, 104);
    --accent-color: #ffd900;
    --accent-hover-color: #ff7738;
    --border-color: #a8a8a8;
    --line-color: rgba(0, 0, 0, 0.1);
    --backdrop-color: #d1d1d1;
    --outline-color: #a7a7a7;
    --hr-color: #000000;
}

body {
    padding: 5px 10px;
    background-color: var(--primary-bg-color);
    font-family: Verdana, Geneva, sans-serif;
}

.centered {
    text-align: center;
    margin-bottom: 5px;
}

.faint-line {
    height: 1px;
    background-color: var(--line-color);
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.button-container button, .single-button button {
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 12px;
    border: 2px solid var(--accent-hover-color);
    background-color: var(--accent-color);
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
}

.single-button {
    margin-bottom: 20px;
}

.button-container button:hover, .single-button button:hover {
    background-color: var(--accent-hover-color);
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
}

h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 40em;
    margin-right: 40em;
    border-width: 0.5px;
}

.hr2 {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    border-width: 0.5px;
}

.hr3 {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-width: 0.5px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: none;
    position: absolute;
    font-size: 15px;
    left: 35%;
    top: 5%;
    transform: translateX(-50%);
    background-color: var(--accent-color);
    width: 80x;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    text-align: center;
    border-radius: 10px;
}

.menu a {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 10px;
    border-bottom: 1px solid var(--accent-hover-color);
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-style: solid;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 35%;
    transform: translateX(-50%);
    border-color: var(--accent-hover-color);
}

.hamburger:hover {
    background-color: var(--accent-hover-color);
}

.hamburger span {
    font-size: 30px;
}

.menu.active {
    display: block;
}

p {
    margin-bottom: 20px;
}

.donation-Backdrop {
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 610px;
    height: 20px;
    background-color: var(--backdrop-color);
    border: 2px solid var(--outline-color);
    margin-top: 3%;
    margin-bottom: 1.3%;
}

.update-Backdrop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
    height: 40px;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-hover-color);
    margin-top: 0.8%;
    margin-bottom: 3%;
}

.paragraph-backdrop {
    position: relative;
    border-radius: 8px;
    display: block;
    background-color: var(--backdrop-color);
    padding: 15px;
    width: 260px;
    word-wrap: break-word;
    margin: 10px auto;
    margin-top: 15px;
    text-align: left;
    outline: 2px solid var(--outline-color);
    font-size: 14px;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active {
    text-decoration: none;
    color: rgb(255, 136, 0);
}

a {
    color: var(--primary-text-color);
}

.tags {
    position: relative;
    border-radius: 8px;
    display: block;
    background-color: #e2e2e2;
    padding: 13px;
    width: 260px;
    word-wrap: break-word;
    margin: 1px auto;
    text-align: left;
    outline: 2px solid #c9c9c9;
    font-size: 13px;
    color: var(--secondary-text-color);
}

.box-container {
    border: 2px solid var(--border-color);
    padding: 20px;
    color: black;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    width: 280px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.filter-button {
    background-color: var(--accent-color);
    border: 2px solid rgb(255, 136, 0);
    color: var(--primary-text-color);
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 2px;
    min-width: 60px;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 4px;
}

.filter-button:hover {
    background-color: rgb(255, 136, 0);
    border: 2px solid rgb(255, 136, 0);
    color: var(--primary-text-color);
}

.button-container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.filter-button-backdrop {
    display: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px;
    width: 500px;
    height: 150px;
    background-color: var(--secondary-bg-color);
    border: 2px solid var(--border-color);
    margin-top: 1%;
    margin-bottom: 1.3%;
}

.box-title {
    color: rgb(0, 0, 0);
}

.pages {
    text-align: center;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.pages p {
    color: rgb(0, 0, 0);
}

.pages a {
    color: rgb(0, 0, 0);
}

.pages a.active {
    color: #ff7738;
}

.pages a:hover {
    color: #ff7738;
}

.tag-title {
    color: #000000;
}

.switchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 35%;
    transform: translateX(50%);
    width: 100%;
}

body.dark-mode {
    --primary-bg-color: rgb(54, 54, 58);
    --secondary-bg-color: #343235;
    --third-text-color: rgb(255, 255, 255);
    --color: #faf8fc;
    --global-text-color: rgb(255, 255, 255);
    --hr-color: #000000;
    --border-color: #202020;
    --line-color: rgba(0, 0, 0, 0.1);
    --accent-color: #ffc400;
    --accent-hover-color: #ff7738;
}

body.dark-mode .pages {
    color: var(--global-text-color);
}

body.dark-mode .pages p {
    color: var(--global-text-color);
}

body.dark-mode .pages a {
    color: var(--global-text-color);
}

body.dark-mode .pages a:hover {
    color: #ffd900;
}

body.dark-mode hr {
    border-width: 0.5px;
    border-color: var(--hr-color);
    background-color: var(--hr-color);
    color: var(--hr-color);
}

.pages a.active {
    color: #ff7738;
}

.animation-title {
    color: black;
}

body.dark-mode .animation-title {
    color: #d1d1d1;
}

body.dark-mode .box-title {
    color:  #d1d1d1;
}

body.dark-mode .tag-title {
    color: #d1d1d1;
}

body.dark-mode .filter-button:hover {
    background-color: #ff7738;
    border: 2px solid #ff7738;
}

body.dark-mode .filter-button {
    background-color: #ffc400;
    border: 2px solid #ff7738;
}
